<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Super Vision</h5>
                <p class="grey-text text-lighten-4">Nous sommes une équipe de développeurs ayant pour but d'améliorer la
                    supervision chez voyages-sncf.com. Pour cela nous avons développé plusieurs outils allant de
                    la normalisation des logs à l'alerting personnalisé en passant pas le déploiement de dashboards à la volée.
                    Aujourd'hui nous partageons ces outils avec vous.
                </p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Les produits de l'équipe</h5>
                <ul>
                    <li><a class="white-text" href="#!">Optimus</a></li>
                    <li><a class="white-text" href="#!">Cerebro</a></li>
                    <li><a class="white-text" href="#!">Sumon et logdorak</a></li>
                    <li><a class="white-text" href="#!">Docker-pipeline</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="#??#">Super Vision</a>
        </div>
    </div>
</footer>